body {
    max-width: auto;  
    margin: 0 auto;     
    padding: 10px;     
    box-sizing: border-box; 
}

.support {
    
    font-weight: bold;
    padding: 5px;
  }

  .basket {
    font-weight: bold;
    padding: 5px;
  }

  img {
    width: 200px;
    height: 200px;
}

.product {
    flex: 0 1 calc(50% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    box-sizing: border-box;
  
  
  }

  button {
    border: 1px solid black;
  }